<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="../static/style.css">

  <title>{% block title %} {% endblock %}</title>
</head>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <div class="badge bg-primary text-wrap">
          <h1>CM</h1>
          Conversor monetário
        </div>
      </a>
    </div>
  </div>
</header>

<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  
  <div class="alert alert-danger" role="alert">
    <div class="row">
      <div class="col-md-10 text-wrap">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-sm d-grid gap-2" href="/" role="button">Recaregar</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}
</div>
<div class="container"></div>
  {% block content %} {% endblock %}
</div>

</body>

</html>